# 构建产物
*.o
*.a
*.elf
*.bin
*.img

# 编译器
pplc/target/
pplc/*.o

# Rust 对照工具
tools/ppdb-ref/target/

# OS
ppos/kernel.elf
ppos/kernel.elf64
ppos/exception-test.elf64
ppos/allocator-test.elf64
ppos/kernel.bin
ppos/kernel.o
ppos/boot/*.o
ppos/boot/*.a

# 数据库测试产物
ppdb/test.db
ppdb/tests/*.db

# 编辑器
.vscode/
.idea/
.DS_Store

# 教程站点
tutorial/node_modules/
tutorial/dist/
tutorial/.astro/
